body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    background: #1f2636;
}
.toggle{
    position: relative;
    width: 160px;
    height: 80px;
    background-color: #10101a;
    border-radius: 40px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, .5) inset, 0px 2px 2px rgba(255, 255, 255, .2);
}
.toggle input[type=checkbox]{
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
}
.toggle label{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
}
.toggle .handle{
    position: absolute;
    left: 4px;
    top: 4px;
    width: 72px;
    height: 72px;
    background-color: #27384a;
    border-radius: 40px;
    box-shadow: 2px 10px 5px rgba(0, 0, 0, .7), 0px 3px 2px rgba(255, 255, 255, .2) inset;
    transition: .5s ease;
}
.toggle .led {
    position: absolute;
    right: -40px;
    top: 50%;
    width: 15px;
    height: 15px;
    margin-top: -7px;
    border-radius: 50%;
    background-color: #000;
}
.toggle .led::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(16, 166, 216, 1) 70%);
    box-shadow: 0 0 10px rgba(16, 166, 216, 1);
    opacity: 0;
    transition: .5s ease;
}
.toggle input[type=checkbox]:checked + .handle {
    left: calc(100% - 76px);
}
.toggle input[type=checkbox]:checked + .handle + .led::before{
    opacity: 1;
}
